body {
    padding-top: 5rem;
    padding-bottom: 9rem;
  }
  .main_container {
    padding: 3rem 1.5rem;
    text-align: center;
    color: lightgray;
    text-shadow: 2px 2px 0px black;
  }

.card {
  opacity: 90%;
  background-color: white;
}

.contentArea {
  border-radius: 10px;
  color: black;
  text-shadow: 0px 0px 0px black;
  padding: 20px;  
  background-color: white;
  opacity: 90%;
}

.footer_header {
  color: lightgray;
  padding-left: 50px;
}

.footer_text {
  color: lightgray;
  padding-left: 50px;
}

.legalstuff {
  font-size: xx-small;
}