body {
    padding-top: 5rem;
  }
  .main_container {
    padding: 3rem 1.5rem;
    text-align: center;
  }

.footer_header {
  color: lightgray;
  padding-left: 50px;
}

.footer_text {
  color: lightgray;
  padding-left: 50px;
}